@media screen and (max-width: 1200px) {
  main .header-text {
    font-size: 45px !important;
  }
  .brands-wrapper {
    gap: 45px !important;
  }
  .swiper {
    padding: 5px 0 40px 16px;
  }
  #dream-destination.header-text {
    font-size: 27px;
  }
  .feature-box {
    gap: 12px !important;
  }
  .circle {
    width: 450px !important;
    height: 450px !important;
  }
  #meet .img-wrapper + img {
    left: 14px !important;
  }
  #meet .img-wrapper + img + img,
  #dream-destination .circle > img:nth-child(3),
  #dream-destination .circle > img:nth-child(6){
    display: none;
  }
  #meet .img-wrapper {
    width: 430px !important;
  }
  #meet .header-text {
    font-size: 23px;
  }
  main .left {
    justify-content: center !important;

    .circle {
      > img:first-child {
        width: 526px !important;
        top: -5px !important;
        right: -36px !important;
      }

      > img:nth-child(2) {
        height: 530px !important;
      }
    }
  }
  #experience .left {
    justify-content: center !important;

    .circle {
      > img:first-child {
        width: 526px !important;
        top: -5px !important;
        right: -36px !important;
      }

      > img:nth-child(2) {
        height: 530px !important;
      }
    }
  }
  #dream-destination .circle > img:nth-child(1){
    bottom: -18px !important;
    width: 310px !important;
    left: 86px !important;
  }
  #dream-destination .left{
    padding-right: 24px !important;
  }
  .feature-box div{
    height: 120px !important;
  }
}

@media screen and (max-width: 992px){
  .top-header .btn-box a:link:not(:nth-child(3)),
  .top-header .btn-box a:visited:not(:nth-child(3)){
    width: 80px !important;
  }
  main .header-text{
    width: auto !important;
    text-align: center;
    &+p{
      width: auto !important;
    }

  }
  .col-lg-5{
    align-items: center !important;
    margin-bottom: 100px !important;
  }
  main,#experience{
    background-image: none;
  }
  .brands-wrapper {
    gap: 30px !important;
    a:link,
    a:visited{
      height: 20px !important;
    }
  }
  #features{
    .right{
      align-items: center !important;
      .header-text{
        span{
          display: inline-block !important;
        }
      }
      p{
        width: auto !important;
      }
    }
    .right+div{
      &>div{
        align-items: center !important;
        p{
          width: auto !important;
          text-align: center;
        }
      }
    }
  }
  #destination2 .destination .destinations{
    flex-basis: 48%;
  }
  #experience{
    .right{
      h1,
      p{
        width: auto !important;
      }
      .row{
        width: 100%;
      }
    }
  }
  #meet{
    .right{
      align-items: center !important;
      p{
        width: auto !important;
      }
    }
    .left{
      margin-top: 30px !important;
    }
  }
  #newsletter{
    div.container {
      height: 250px !important;
      img{
        display: none;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .top-header .logo{
    width: 100px !important;
  }
  #features{
    margin-top: 80px !important;
  }
  #destination2 .destination .destinations{
    flex-basis: 100%;
  }
  .destinations{
    .img-wrapper{
      width: 100% !important;
    }
  }
}
@media screen and (max-width: 576px) {
  .container{
    width: 96% !important;
    margin: 0 auto !important;
  }
  .feature-box{
    width: 96% !important;
  }
  #destination2{
    ul{
      gap: 20px !important;
    }
  }
  .circle {
    width: 400px !important;
    height: 400px !important;
  }
  #experience .left .circle>img:first-child, main .left .circle>img:first-child {
    width: 419px !important;
    top: 3px !important;
    right: 6px !important;
  }
  #experience .left .circle>img:nth-child(2), main .left .circle>img:nth-child(2) {
    height: 460px !important;
  }
  #dream-destination .circle>img:nth-child(1) {
    bottom: -13px !important;
    width: 249px !important;
    left: 88px !important;
  }
  #experience .right h1{
    font-size: 24px !important;
  }
  #meet .img-wrapper {
    width: 100% !important;
  }
  #newsletter{
    h1{
      font-size: 30px !important;
    }
    p{
      width: auto !important;
    }
    form{
      width: 300px !important;
    }
  }
}