footer.bottom-footer.border-top.margin-top-80px.margin-bottom-80px.padding-top-100px
    div.container
        div.row
            div.col-md-3.col-6.mt-md-0.mt-5.d-flex.align-items-ms-start.align-items-center.flex-column
                div.logo
                    a(href="index.html")
                        h2  سفر نامه
                p.text-secondary لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپه
                div.social-media.d-flex.justify-content-start.align-items-center.gap-3
                    a(href="#").color-2.text-decoration-none.d-inline-block.text-center.font-size-20px
                        i.fab.fa-instagram
                    a(href="#").color-2.text-decoration-none.d-inline-block.text-center.font-size-20px
                        i.fab.fa-facebook
                    a(href="#").color-2.text-decoration-none.d-inline-block.text-center.font-size-20px
                        i.fab.fa-twitter
                    a(href="#").color-2.text-decoration-none.d-inline-block.text-center.font-size-20px
                        i.fab.fa-linkedin
                    a(href="#").color-2.text-decoration-none.d-inline-block.text-center.font-size-20px
                        i.fab.fa-youtube
            div.col-md-2.col-6.mt-md-0.mt-5.d-flex.align-items-ms-start.align-items-center.flex-column
                h4.fw-semibold محصول
                ul.list.list-style-type-none.p-0.m-0.d-flex.flex-column.gap-2.mt-3
                    li
                        a(href="").text-secondary-emphasis امکانات
                    li
                        a(href="").text-secondary-emphasis قیمت گذاری
                    li
                        a(href="").text-secondary-emphasis مطالعات موردی
                    li
                        a(href="").text-secondary-emphasis بررسی ها
                    li
                        a(href="").text-secondary-emphasis بروزرسانی ها
            div.col-md-2.col-6.mt-md-0.mt-5.d-flex.align-items-ms-start.align-items-center.flex-column
                h4.fw-semibold کمپانی
                ul.list.list-style-type-none.p-0.m-0.d-flex.flex-column.gap-2.mt-3
                    li
                        a(href="").text-secondary-emphasis درباره ما
                    li
                        a(href="").text-secondary-emphasis ارتباط با ما
                    li
                        a(href="").text-secondary-emphasis مشاغل
                    li
                        a(href="").text-secondary-emphasis فرهنگ
                    li
                        a(href="").text-secondary-emphasis وبلاگ
            div.col-md-2.col-6.mt-md-0.mt-5.d-flex.align-items-ms-start.align-items-center.flex-column
                h4.fw-semibold پشتیبانی
                ul.list.list-style-type-none.p-0.m-0.d-flex.flex-column.gap-2.mt-3
                    li
                        a(href="").text-secondary-emphasis شروع کردن
                    li
                        a(href="").text-secondary-emphasis مرکز کمک
                    li
                        a(href="").text-secondary-emphasis وضعبت سرور
                    li
                        a(href="").text-secondary-emphasis گزارش یک مشکل
                    li
                        a(href="").text-secondary-emphasis چت پشتیبانی

            div.col-md-3.col-12.mt-md-0.mt-5.d-flex.align-items-ms-start.align-items-center.flex-column
                h4.fw-semibold ارتباط با ما
                ul.list.list-style-type-none.p-0.m-0.d-flex.flex-column.gap-2.mt-3
                    li
                        a(href="").text-secondary-emphasis
                            i.fas.fa-envelope
                            |
                            | contact@company.com
                    li
                        a(href="").text-secondary-emphasis
                            i.fas.fa-phone
                            |
                            | 09030422838
                    li
                        a(href="").text-secondary-emphasis
                            i.fas.fa-map-location-dot
                            |
                            | خیابان برنامه نویسان کوچه برنامه نویس