div.container
    header.top-header.d-flex.justify-content-between.align-items-center.flex-row-reverse
        div.btn-box.d-flex.align-items-center.gap-2
            a(href="").btn1.d-md-flex.align-items-center.justify-content-center.text-black.width-98px.height-45px.d-none ورود
            a(href="").btn2.bg-1.d-md-flex.align-items-center.justify-content-center.text-white.shadow1.width-98px.height-45px.d-none ثبت نام
            a(href="").btn2.bg-1.d-md-none.d-flex.align-items-center.justify-content-center.text-white.shadow1.width-100px.height-45px ورود/ثبت نام
        nav.top-nav.d-md-flex.d-none
            ul.d-flex.justify-content-center.align-items-center.gap-lg-4.p-0.m-0.gap-3
                li
                    a(href="").text-black.fw-normal خانه
                li
                    a(href="").text-black مقصد ها
                li
                    a(href="").text-black بسته ها
                li
                    a(href="").text-black بلاگ
                li
                    a(href="").text-black درباره ما
                li
                    a(href="").text-black ارتباط با ما
        div.logo.d-flex.justify-content-center.align-items-center
            a(href="index.html")
                h2  سفر نامه
        button(type="button").bars-icon.font-size-28px.width-100px.d-flex.justify-content-start.align-items-center.color-2.cursor-pointer.border-0.bg-transparent.d-md-none
            i.fas.fa-bars
div#bottom-menu.rounded-3.mx-3.border
    ul.d-flex.flex-column.list-style-type-none.gap-2.m-0.p-3
        li
            a(href="").text-white.fw-normal.d-flex.justify-content-center.align-items-center.py-2.rounded-4.bg-2 خانه
        li
            a(href="").text-white.d-flex.justify-content-center.align-items-center.py-2.rounded-4.bg-2 مقصد ها
        li
            a(href="").text-white.d-flex.justify-content-center.align-items-center.py-2.rounded-4.bg-2 بسته ها
        li
            a(href="").text-white.d-flex.justify-content-center.align-items-center.py-2.rounded-4.bg-2 بلاگ
        li
            a(href="").text-white.d-flex.justify-content-center.align-items-center.py-2.rounded-4.bg-2 درباره ما
        li
            a(href="").text-white.d-flex.justify-content-center.align-items-center.py-2.rounded-4.bg-2 ارتباط با ما